/* Vaev's Print User Agent Stylesheet */

@page {
    margin: 0.5in;

    @footnote {
        margin-top: 10px;
    }

    /* MARK: Top ------------------------------------------------------------ */
    @-vaev-top {
        display: flex;
    }

    @top-left-corner {
        text-align: right;
        vertical-align: middle;
    }

    @top-left {
        text-align: left;
        vertical-align: middle;
        flex-grow: 1;
    }

    @top-center {
        text-align: center;
        vertical-align: middle;
        flex-grow: 1;
    }

    @top-right {
        text-align: right;
        vertical-align: middle;
        flex-grow: 1;
    }

    @top-right-corner {
        text-align: left;
        vertical-align: middle;
    }

    /* MARK: Left ----------------------------------------------------------- */
    @-vaev-left {
        display: flex;
        flex-direction: column;
    }

    @left-top {
        text-align: center;
        vertical-align: top;
        flex-grow: 1;
    }


    @left-middle {
        text-align: center;
        vertical-align: middle;
        flex-grow: 1;
    }

    @left-bottom {
        text-align: center;
        vertical-align: bottom;
        flex-grow: 1;
    }

    /* MARK: Right ---------------------------------------------------------- */
    @-vaev-right {
        display: flex;
        flex-direction: column;
    }

    @right-top {
        text-align: center;
        vertical-align: top;
        flex-grow: 1;
    }

    @right-middle {
        text-align: center;
        vertical-align: middle;
        flex-grow: 1;
    }

    @right-bottom {
        text-align: center;
        vertical-align: bottom;
        flex-grow: 1;
    }

    /* MARK: Bottom --------------------------------------------------------- */
    @-vaev-bottom {
        display: flex;
    }

    @bottom-left-corner {
        text-align: right;
        vertical-align: middle;
    }


    @bottom-left {
        text-align: left;
        vertical-align: middle;
        flex-grow: 1;
    }

    @bottom-center {
        text-align: center;
        vertical-align: middle;
        flex-grow: 1;
    }

    @bottom-right {
        text-align: right;
        vertical-align: middle;
        flex-grow: 1;
    }

    @bottom-right-corner {
        text-align: left;
        vertical-align: middle;
    }
}
