[submodule "thirdparty/limine"]
	path = thirdparty/limine
	url = https://github.com/skiftOS/limine
	branch=master

[submodule "thirdparty/echfs"]
	path = thirdparty/echfs
	url = https://github.com/skiftOS/echfs
	branch=master
