/* css reset */

* {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
}

html,
:host {
    line-height: 1.5;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
}



:root {
    --k-gray050: #fafafa;
    --k-gray100: #f4f4f5;
    --k-gray200: #e4e4e7;
    --k-gray300: #d4d4d8;
    --k-gray400: #a1a1aa;
    --k-gray500: #71717a;
    --k-gray600: #52525b;
    --k-gray700: #3f3f46;
    --k-gray800: #27272a;
    --k-gray900: #18181b;
    --k-gray950: #09090b;

    --k-accent050: #eff6ff;
    --k-accent100: #dbeafe;
    --k-accent200: #bfdbfe;
    --k-accent300: #93c5fd;
    --k-accent400: #60a5fa;
    --k-accent500: #3b82f6;
    --k-accent600: #2563eb;
    --k-accent700: #1d4ed8;
    --k-accent800: #1e40af;
    --k-accent900: #1e3a8a;
    --k-accent950: #172554;
}

body {
    color: var(--k-gray050);
    background-color: var(--k-gray950);
}

.k-panel {
    border: 1px solid var(--k-gray800);
    border-radius: 0.25rem;
    background-color: var(--k-gray900);
    padding: 0 1rem;
}

.k-logo {
    display: block;
    margin: 1rem auto;
    height: 96px;
}

.k-footer {
    display: block;
    margin: 1rem auto;
    text-align: center;
}

.k-center-prose {
    max-width: 60ch;
    margin: 0 auto;
}
