BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4

AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: None

IndentCaseLabels: false
ColumnLimit: 0
AccessModifierOffset: -4
FixNamespaceComments: true
SpaceBeforeInheritanceColon: true
BreakInheritanceList: AfterColon
IndentPPDirectives: AfterHash
ForEachMacros: ["__dummy_foreach"]
SpaceBeforeParens: ControlStatementsExceptForEachMacros
QualifierAlignment: Right
AlignAfterOpenBracket: BlockIndent
SeparateDefinitionBlocks: Always
NamespaceIndentation: None
PointerAlignment: Left

IncludeBlocks: Regroup
IncludeCategories:
    - Regex: '<.*>'
      Priority: 0
      SortPriority: 0
    - Regex: '".*"'
      Priority: 10
      SortPriority: 10
