/* Vaev's User Agent Stylesheet */

html {
    display: contents;
}

head,
style {
    display: none;
}

/* 15.3.8 MARK: Tables ------------------------------------------------------ */
/* https: //html.spec.whatwg.org/multipage/rendering.html#tables-2 */

table {
    display: table;
}

caption {
    display: table-caption;
}

colgroup {
    display: table-column-group;
}

col {
    display: table-column;
}

thead {
    display: table-header-group;
}

tbody {
    display: table-row-group;
}

tfoot {
    display: table-footer-group;
}

tr {
    display: table-row;
}

td {
    display: table-cell;
}

th {
    display: table-cell;
}
